
<div class="container">
    
    <div class="alert alert-danger" role="alert" *ngIf="!orderForm.valid && orderForm.touched">
        Infromation is not correct. Please revise form.
    </div>

    <h1>Limit order</h1>

    <form
        (ngSubmit)="onSubmit()"
        [class.is-valid]="orderForm.valid"
        [class.was-validated]="orderForm.valid"
        [class.was-validated]="orderForm.invalid"
        [class.is-invalid]="orderForm.invalid"
        [formGroup]="orderForm">

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-check">

                <label class="form-check-label" for="type">
                    Type:
                </label>
                <select
                    class="form-control"
                    name="type"
                    id="type"
                    formControlName="type"
                    required>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>

            </div>

            <div class="form-check">
                <label for="quantity">Quantity:</label>
                <input 
                    type="text"
                    class="form-control"
                    id="quantity"
                    placeholder=""
                    value=""
                    required=""
                    formControlName="quantity" />

                <div *ngIf="orderForm.get('quantity').invalid && (orderForm.get('quantity').dirty || orderForm.get('quantity').touched)">
                    <span *ngIf="orderForm.get('quantity').errors.missingValue && orderForm.get('quantity').touched" class="ng-invalid">Quantity value must be numeric!</span>
                    <span *ngIf="orderForm.get('quantity').errors.equalZero && orderForm.get('quantity').touched" class="ng-invalid">Quantity value cannot be equal to zero!</span>
                </div>
              
            </div>

            <div class="form-check">
                <label for="price">{{ orderForm.get('type').value | titlecase }} at price:</label>

                <input 
                    type="text"
                    class="form-control"
                    id="price"
                    placeholder=""
                    value=""
                    required=""
                    formControlName="price" />

                <div *ngIf="orderForm.get('price').invalid && (orderForm.get('price').dirty || orderForm.get('price').touched)">
                    <span *ngIf="orderForm.get('price').errors.missingValue && orderForm.get('price').touched" class="ng-invalid">Price value must be numeric!</span>
                    <span *ngIf="orderForm.get('price').errors.equalZero && orderForm.get('price').touched" class="ng-invalid">Price value cannot be equal to zero!</span>
                </div>
              
            </div>

            <div class="total">
              Total: <span>{{ totalValue || 0 }} EUR</span>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!orderForm.valid">Send order</button>

          </div>
        </div>

    </form>
</div>
