

<div class="container">
    
    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>

    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>

    <h1>Limit order</h1>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Buy
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked>
          <label class="form-check-label" for="exampleRadios2">
            Sell
          </label>
        </div>

        <label for="quantity">Amount to Buy</label>
        <input type="text" class="form-control" id="quantity" placeholder="" value="" required="">
        <div class="invalid-feedback">
          Valid amount is required.
        </div>


        <label for="buy">Buy price</label>
        <input type="text" class="form-control" id="buy" placeholder="" value="" required="">
        <div class="invalid-feedback">
          Valid amount is required.
        </div>

        <div class="">
          Total: <span>111.11 EUR</span>
        </div>

        <button class="btn btn-primary" type="submit" (click)="onAddOrder()">BUY</button>

      </div>
    </div>
</div>
