span.ng-valid {
    display: none;
}

span.ng-invalid {
    display: inline;
    color: red;
}

.total {
    padding: 10px 0 10px 30px;
    font-weight: bold;
}

.form-check {
    margin: 15px 0;
}

button[type="submit"] {
    margin-top: 10px;
}